<h3><i>Change your account details</i></h3>

<form class="col-sm-6" [formGroup]="cForm" (ngSubmit)="onSubmit()" novalidate >

  <div class="well">
	  <div class="form-group">
	    <label class="center-block">username</label>
	    <input class="form-control" placeholder={{this.userData.name}} formControlName="name">
	  </div>

	  <!-- errors -->
	  <div *ngIf="cForm.controls.name.errors && (cForm.controls.name.touched || cForm.controls.name.dirty)">
	    <div [hidden]="!cForm.controls.name.errors.required" >
	       <p> Must not be empty</p>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="center-block">Email Id</label>
	    <input class="form-control" placeholder={{this.userData.email}} formControlName="email">
	  </div>
  </div>

  <!-- errors -->
  <div *ngIf="cForm.controls.email.errors && (cForm.controls.email.touched || cForm.controls.email.dirty)">
    <div [hidden]="!cForm.controls.email.errors.required" >
       <p> Must not be empty</p>
    </div>
  </div>


  <div class="well">
	  <div class="form-group">
	    <label class="center-block">Create a new Password:</label>
	    <input type="password" class="form-control" formControlName="password">
	  </div>

	  <!-- errors -->
	  <div *ngIf="cForm.controls.password.errors && (cForm.controls.password.touched || cForm.controls.password.dirty)">
	    <div [hidden]="!cForm.controls.password.errors.required" >
	       <p> Must not be empty</p>
	    </div>
	  </div>


	  <div class="form-group">
	    <label class="center-block">Confirm Password:</label>
	    <input type="password" class="form-control" formControlName="cpassword">
	  </div>
	<!-- errors -->
	  <div *ngIf="cForm.controls.cpassword.errors  && (cForm.controls.cpassword.touched || cForm.controls.cpassword.dirty)">
	    <div [hidden]="!cForm.controls.cpassword.errors.required" >
	       <p> Must not be empty</p>
	    </div>
	    <div [hidden]="!cForm.controls.cpassword.errors.wrongPassword" >
	       <p> Passwords do not match</p>
	    </div>
	  </div>
   
  </div>

  <button class="btn btn-success" type="submit" [disabled]="!cForm.valid">Update</button> 
</form>
